

.main-contact{
    display: flex;
  
}

.design-box{
    width: 220px;
    height: 43px;
    background-color: rgb(150, 0, 150);
    position: absolute;
    top: 17%;
    left: 49%;
    z-index: -1;
    border-radius: 54px 0px 40px ;
}

.contact-left{
    display: flex;
    flex-direction: column;
    width: 800px;
}


.contact-details h1{
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #fff;
    margin-top: 10%;
    padding: 20px;
    margin-left: 16%;
}

.contact-details p{
    width: 800px;
    font-size: 19px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #fff;
    margin-left: 18%;
    
}

.contact-details .email{
    margin-top: 40px;
}

.contact-details .contact-num{
    margin-top: 40px;
}

.contact-details .location{
    margin-top: 40px;
}



.contact{
    
    width: 600px;
    height: 610px;
    color: aliceblue;
    background-color: rgb(0, 54, 54);
    border-radius: 5px;
    box-shadow: 4px 6px 5px #111;
    padding: 20px;
    margin-left: 50%;
    margin-top: 15%;
}

.contact label{
    width: 100%;
    margin-top: 15px;
    font-size: 19px;
   
   
}

.contact input{
    width: 100%;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: .5px solid rgba(0, 0, 0, 0.452);
    outline: none;
    color: #fff;
    background-color: #535a5a;
    
}

.contact input::placeholder{
   color: #bdffff;
}


.contact textarea{
    width: 100%;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    outline: none;
    color: #fff;
    background-color: #535a5a;
    

}

.contact textarea::placeholder{
    color: #bdffff;
 }
 

.contact button{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: teal;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
}


.contact button:hover{
    transition: .4s;
    background-color: rgb(235, 27, 0);
}