
.skill-head{
    color: #fff;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 24px;
    text-align: center;

}

.skill-design{
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to right , rgb(117, 6, 6)  , rgb(6, 6, 95));
    border-radius: 29px 0px 29px ;
    position: absolute;
    top: 17.5%;
    left: 47%;
    z-index: -1;


}
.skills-part{
    display:  flex;
    flex-wrap: wrap;
    justify-content:space-around;
    color: #fff;
    margin-top: 3%;
   
  
    
}
.skills-subpart{
    width: 460px;
    margin: 15px;
    margin-top: 20px;
    background-color: rgb(36, 36, 36);
    margin-left: 5%;
    margin-right: 6%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 4px 5px #000000;
   

}

.skills-subpart h3{
    text-align: center;
    color: rgb(0, 199, 199);
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
    padding: 2px;
    border: 0.8px solid rgba(255, 255, 255, 0.322);
}

.skills-subpart p{
    text-align: center;
    margin-top: 15px;
    font-size: 24px;
   
}

.skills-subpart span{
    color: chocolate;
}


@media screen and (max-width:600px) {


.skill-head{
    color: #fff;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 24px;
    text-align: center;

}

.skill-design{
    width: 120px;
    height: 38px;
    background-image: linear-gradient(to right , rgb(117, 6, 6)  , rgb(6, 6, 95));
    border-radius: 29px 0px 29px ;
    position: absolute;
    top: 16%;
    left: 41%;
    z-index: -1;


}
.skills-part{
    display:  flex;
    flex-wrap: wrap;
    justify-content:space-around;
    color: #fff;
    margin-top: 3%;
   
  
    
}
.skills-subpart{
    width: 460px;
    margin: 15px;
    margin-top: 20px;
    background-color: rgb(36, 36, 36);
    margin-left: 5%;
    margin-right: 6%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 4px 5px #000000;
   

}

.skills-subpart h3{
    text-align: center;
    color: rgb(0, 199, 199);
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
    padding: 2px;
    border: 0.8px solid rgba(255, 255, 255, 0.322);
}

.skills-subpart p{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
   
}

.skills-subpart span{
    color: chocolate;
}

    
}
