
.main-footer{
    background-color: rgb(0, 0, 32);
    margin-top: 5%;
    height: 440px;
   
}

.foot-logo {
    display: flex;
}

.foot-logo img{
    width: 200px;
    height: 160px;
    margin-left: 20px;
}


.social-media{
    gap: 5rem;
    margin-left: 48%;
    margin-top: 50px;
    
}

.social-media .media{
    color: #ddd;
    font-size: 19px;
    padding: 5px;
    border-radius: 5px;
   
    margin-left: 18%;
    
   
}

.media:hover{

    background-image: linear-gradient(to right , #b43900 , rgb(19, 18, 18));
    
}


.lists{
 color: #ddd;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 
} 

.list-card{
    cursor: pointer;
    color: #ddd;
    margin-top: 2%;
    
}
.list-card li{
    cursor: pointer;
    font-size: 17px;
    list-style-type: none;
    margin-top: 8px;
}


.term_conds {
 
    cursor: pointer;
    margin-top: 3.5%;
    margin-left:6%;
    color: #ddd;
    font-size: 16px;
}

.term_conds ul {
   display: flex;
    cursor: pointer;
    margin-top: -1%;
    margin-left:60%;
    color: #ddd;
    font-size: 16px;
    gap: 3rem;
}
.term_conds li{
    list-style-type: none;
}

/* .term_conds_1{
    cursor: pointer;
    display: flex;
    position: absolute;
    bottom: -128%;
    left: 50%;
    gap: 5rem;
    font-size: 16px;
}

.term_conds_1 li{
    list-style-type: none;
} */