

.about-me h1{
    color: #fff;
    font-size: 62px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
     margin-top: 14%;
}

.about-logo{
    
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
   
}

.about-logo img{
    width: 440px;
    height: 520px;
    margin-left: 9%;
    border-radius: 10px;
    box-shadow: 5px 6px 6px #111111;
    border: 1px solid #bdb8b8;
    padding: 3px;
}


.about-logo p{
    width: 900px;
    color: #fff;
    margin-left: 5%;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    
}


.about-logo .progress{
    margin-left: 34%;
}