*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    background-color: #111;
}


/* .logo {
  
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 97, 90);
    color: #fff;
    cursor: pointer;
 } */

 .logo{
   background-color: rgb(19, 97, 90);
 }

 .logo img{
   width: 170px;
   height: 120px;
   margin-left: 20px;
 }
 
 
 .navbar{
   display: flex;
 }

 .navbars{
     display: flex;
      position: absolute;
      top: 35px;
      left:35%;
      cursor: pointer;
      text-decoration: none;
      list-style-type: none;
      gap: 5rem;
  }
 



 a{
    text-decoration:none;
 }
 
.nav1 {
    color: #fff;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif

 }
 .nav1:hover{
    background-color: black;
     text-align: center;
    padding: 5px;
    box-shadow: 2px 3px 3px #111;
    border-radius: 15px;
    transition: .4s;

 }

 .nav2{
    color: #fff;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 95px;
    padding: 6px;
    border: 1px solid rgba(255, 204, 204, 0.568);
    border-radius: 16px;
    
 }

 .nav2:hover{
    /* background-color: rgb(201, 97, 0); */
    background-image: linear-gradient(to right , rgb(240, 58, 88) , red);
    padding: 5px;
    box-shadow: 2px 3px 3px #111;
    border-radius: 15px;
    transition: .5s;
    
 }

 

 





 